{
    auto_https disable_redirects
}

accounts.127.0.0.1.nip.io {
	tls internal
	reverse_proxy http://host.docker.internal:5002
}

recruiter.127.0.0.1.nip.io {
	tls internal
	reverse_proxy http://host.docker.internal:5001
}

127.0.0.1.nip.io {
	tls internal
	# # Handle API routes - assuming all backend routes start with /api
	handle_path /api/* {
		reverse_proxy http://host.docker.internal:8000
	}

	# Handle root path - job seeker service
	handle {
		reverse_proxy http://host.docker.internal:5000
	}
}
