@import "tailwindcss";

@plugin './hero.ts';
@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar' {
	nocompatible: true;
	preferredStrategy: "pseudoelements";
}

@config "../tailwind.config.js";

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
	--font-sans: "Work Sans", "sans-serif";
}

@layer base {
	html,
	body,
	div[data-overlay-container] {
		@apply h-full;
		@apply w-full;
		@apply bg-background-600;
	}
}
