.env
.env.mcp
volume/
node_modules/
.DS_Store
relay.sh
certs/
certs

# Added by Task Master AI
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
# Environment variables
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.cursor/mcp.json

*.pem

.vscode

# Task files
# tasks.json
# tasks/
whatsapp_messages/
