# Reverse proxy for main site
https://localtest.me {
	tls /etc/caddy/certs/localtest.me.pem /etc/caddy/certs/localtest.me-key.pem
	reverse_proxy http://{$SEEKER_PORTAL_HOST}:5000
}

# Reverse proxy for API
https://api.localtest.me {
	tls /etc/caddy/certs/localtest.me.pem /etc/caddy/certs/localtest.me-key.pem
	reverse_proxy http://{$SERVER_HOST}:8000
}

# Reverse proxy for accounts service
https://accounts.localtest.me {
	tls /etc/caddy/certs/localtest.me.pem /etc/caddy/certs/localtest.me-key.pem
	reverse_proxy http://{$ACCOUNTS_HOST}:5002
}

# Reverse proxy for recruiter site
https://recruiter.localtest.me {
	tls /etc/caddy/certs/localtest.me.pem /etc/caddy/certs/localtest.me-key.pem
	reverse_proxy http://{$RECRUITER_PORTAL_CORE_HOST}:5003
}

# Wildcard: any subdomain of localtest.me
https://*.localtest.me {
	tls /etc/caddy/certs/localtest.me.pem /etc/caddy/certs/localtest.me-key.pem
	reverse_proxy http://{$RECRUITER_DASHBOARD_HOST}:5001
}
