name: E2E Tests
on:
  push:
    branches:
      - main
    paths:
      - 'e2e/**'
      - 'server/**'
      - 'apps/**'
      - '.github/workflows/e2e-tests.yml'
      - 'docker-compose.e2e.yml'

  pull_request:
    branches:
      - main
    paths:
      - 'e2e/**'
      - 'server/**'
      - 'apps/**'
      - '.github/workflows/e2e-tests.yml'
      - 'docker-compose.e2e.yml'

env:
  COMPOSE_BAKE: true
  GOOGLE_CLIENT_ID: ${{ secrets.TEST_GOOGLE_OAUTH_CLIENT_ID }}
  GOOGLE_CLIENT_SECRET: ${{ secrets.TEST_GOOGLE_OAUTH_CLIENT_SECRET }}
  SEEKER_PORTAL_UI_SENTRY_DSN: ${{secrets.SEEKER_PORTAL_SENTRY_DSN}}
  RECRUITER_PORTAL_UI_SENTRY_DSN: ${{secrets.RECRUITER_PORTAL_SENTRY_DSN}}
  ACCOUNTS_UI_SENTRY_DSN:  ${{secrets.ACCOUNTS_SENTRY_DSN}}
  SERVER_SENTRY_DSN: ${{secrets.SERVER_SENTRY_DSN}}

jobs:
  test-e2e:
    name: 'Test on ${{ matrix.project }} (${{ matrix.shard }}/4)'
    strategy:
      fail-fast: false
      matrix:
        project: [chromium, firefox, webkit]
        shard: [1, 2, 3, 4]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm --filter e2e install --frozen-lockfile

      - name: Install Playwright
        id: install-playwright
        uses: ./.github/actions/playwright
        with:
          working-directory: e2e

      - name: Debug Playwright cache
        run: |
          echo "Playwright version – ${{ steps.install-playwright.outputs.version }}"
          echo "Playwright cached – ${{ steps.install-playwright.outputs.cache-hit }}"

      - name: Install MKCert
        run: |
          sudo apt update
          sudo apt install -y libnss3-tools
          curl -JLO "https://dl.filippo.io/mkcert/latest?for=linux/amd64"
          chmod +x mkcert-v*-linux-amd64
          sudo cp mkcert-v*-linux-amd64 /usr/local/bin/mkcert

      - name: Create Local CA
        run: |
          mkdir certs
          cd certs
          mkcert -install
          mkcert -cert-file ./localtest.me.pem -key-file ./localtest.me-key.pem "localtest.me" "*.localtest.me"

      - run: docker compose -f docker-compose.e2e.yml up --build -d --wait --remove-orphans


      - name: Run Playwright tests
        run: pnpm --filter e2e run test --trace=on --project=${{ matrix.project }} --shard=${{ matrix.shard }}/4
        working-directory: e2e
        env:
          CI: true
          DEBUG: pw:browser
          API_BASE_URL: https://api.localtest.me
          ACCOUNTS_UI_BASE_URL: https://accounts.localtest.me
          SEEKER_PORTAL_BASE_URL: https://localtest.me
          MAILCATCHER_BASE_URL: http://localhost:1080

      - name: Upload Playwright Report and Traces
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report-${{ matrix.project }}-${{ matrix.shard }}
          path: |
            e2e/playwright-report/
            e2e/test-results/**/*.zip
          retention-days: 30
